.Filter {
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 26px;
  padding-bottom: 22px;
  border-bottom: 1px solid #e0ddce;
  overflow: hidden;
  transition: all ease-in-out 0.2s;
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 21px;
    padding-right: 26px;
    cursor: pointer;
    h2 {
      margin: 0;
      font-size: 18px;
      line-height: 21px;
      letter-spacing: 0.3px;
      color: #383834;
    }
    i.closeFilterIcon {
      display: block;
      width: 13px;
      height: 9px;
      font-size: 0;
      background-image: url(../../../public/images/grayArrow.svg);
      cursor: pointer;
      transition: all ease-in-out 0.2s;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
  .searchContainer {
    position: relative;
    .searchSuggestions {
      position: absolute;
      top: 27px;
      z-index: 1;
      box-sizing: border-box;
      width: 100%;
      background-color: #ffffff;
      border: 1px solid #d6d3d3;
      box-sizing: border-box;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      .suggestion {
        display: block;
        padding-top: 7px;
        padding-left: 8px;
        padding-right: 8px;
        padding-bottom: 5px;
        //font-family: LucidaGrande;
        font-size: 14px;
        line-height: 16px;
        color: #605f5c;
        cursor: pointer;
        &:hover {
          background-color: #d8d8d8;
        }
      }
    }
    .search {
      width: 100%;
      margin-bottom: 10px;
      padding-bottom: 6px;
      //font-family: LucidaGrande;
      font-size: 14px;
      line-height: 16px;
      color: #605f5c;
      border: none;
      border-bottom: 2px solid #14a2b8;
      outline: none;
      &::placeholder {
        font-family: arial;
        font-size: 14px;
        line-height: 16px;
        font-weight: normal !important;
        color: #605f5c;
      }
    }
  }
  .checkBoxes {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    font-size: 14px;
    line-height: 16px;
    color: #605f5c;
    text-transform: capitalize;
    overflow: hidden;
    transition: all ease-in-out 0.2s;
    .container {
      display: block;
      position: relative;
      padding-left: 21px;
      margin-bottom: 11px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      &:last-child {
        margin-bottom: 0;
      }
    }

    /* Hide the browser's default checkbox */
    .container input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    /* Create a custom checkbox */
    .checkmark {
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      height: 13px;
      width: 13px;
      //background-color: #eee;
      border: 1.5px solid #979797;
      border-radius: 2.5px;
    }

    /* On mouse-over, add a grey background color */
    /* .container:hover input ~ .checkmark {
      background-color: #ccc;
    } */

    /* When the checkbox is checked, add a blue background */
    .container input:checked ~ .checkmark {
      background-color: #0f7c91;
      border: none;
    }

    /* Create the checkmark/indicator (hidden when not checked) */
    .checkmark:after {
      content: '';
      position: absolute;
      display: none;
    }

    /* Show the checkmark when checked */
    .container input:checked ~ .checkmark:after {
      display: block;
    }

    /* Style the checkmark/indicator */
    .container .checkmark:after {
      top: 0;
      left: 3px;
      width: 6px;
      height: 8px;
      border: solid white;
      border-width: 0 1px 1px 0;
      -webkit-transform: rotate(25deg);
      -ms-transform: rotate(25deg);
      transform: rotate(25deg);
    }
  }
  .showMore {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: #0f7c91;
    cursor: pointer;
    i.showMoreIcon {
      display: block;
      width: 13px;
      height: 10px;
      margin-left: 10px;
      font-size: 0;
      background-image: url(../../../public/images/grayArrow.svg);
      transform: rotate(180deg);
      transition: all ease-in-out 0.2s;
      &.rotate {
        transform: rotate(0);
      }
    }
  }
}

@media (max-width: 1200px) {
  .Filter {
    padding-left: 34px;
    border-bottom: 1px solid #ffffff;
    .header {
      padding-right: 21px;
      h2 {
        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.571429px;
        color: #605f5c;
        height: 21px;
      }
      i.closeFilterIcon {
        width: 18px;
        height: 7px;
        background-image: url(../../../public/images/arrowDownThick.svg);
        background-position: center;
        transform: rotate(180deg);
        &.rotate {
          transform: none;
        }
      }
    }
    .checkBoxes {
      .container {
        padding-left: 40px;
      }
    }
  }
  .showMore {
    margin-left: 40px;
    font-weight: bold;
  }

  .searchContainer {
    padding-right: 58px;
    margin-bottom: 27px;
    .search {
      background-color: transparent;
      &::placeholder {
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.466667px;
        color: #605f5c;
      }
    }
  }
}
