.Filters {
  width: 266px;
  padding-top: 36px;
  .filtersContainer {
    display: block;
    .content {
      display: none;
      &.visible {
        display: block;
      }
    }
  }
  .buttons {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-left: 26px;
    .filterButton {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 93px;
      height: 30px;
      padding-left: 13px;
      padding-right: 13px;
      font-size: 15px;
      line-height: 18px;
      color: #ffffff;
      background-color: #14a2b8;
      border: 0.8px solid #14a2b8;
      font-family: LucidaGrande;
      box-sizing: border-box;
      border-radius: 2px;
      cursor: pointer;
      i {
        display: block;
        width: 20px;
        height: 10px;
        font-size: 0;
        background-image: url(../../public/images/linesIcon.svg);
      }
    }
    .mostRelevantButton {
      display: flex;
      align-items: center;
      width: 135px;
      height: 30px;
      border: 1px solid rgb(20, 162, 184, 0.5);
      box-sizing: border-box;
      border-radius: 3px;
      background-color: transparent;
      font-family: LucidaGrande;
      font-size: 15px;
      line-height: 18px;
      color: #14a2b8;
      cursor: pointer;
      i {
        display: block;
        width: 11px;
        height: 7px;
        margin-left: 3px;
        font-size: 0;
        background-image: url(../../public/images/arrowDown.svg);
        background-size: contain;
      }
    }
    .resetFiltersButton {
      position: absolute;
      bottom: -44px;
      left: 46px;
      width: 123px;
      height: 32px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.333333px;
      color: #14a2b8;
      background-color: transparent;
      border: 1px solid #14a2b8;
      box-sizing: border-box;
      border-radius: 3px;
      white-space: nowrap;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .Filters {
    display: none;
  }
}
