.Search {
  .searchBar {
    width: 100%;
    height: 50px;
    padding-left: 53px;
    padding-right: 53px;
    border: 1.25px solid #e2e6e9;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;

    &::placeholder {
      font-size: 16px;
      line-height: 46px;
      color: #928f8f;
    }
  }
  .closeIcon {
    position: absolute;
    top: calc(50% - 15px);
    right: 24px;
    display: block;
    width: 30px;
    height: 30px;
    font-size: 0;
    background-image: url(../../../../public/images/closeIcon.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    &.hover {
      background-color: red;
      border-radius: 50%;
      background-color: #fbf5f5;
    }
  }
}

@media (max-width: 748px) {
  .searchBar {
    height: 38px !important;
    padding-left: 34px !important;
    padding-right: 34px !important;
    border: 1.25px solid #83c6f8 !important;
    box-shadow: inset 0px 1px 4px rgba(131, 198, 248, 0.5);
    &::placeholder {
      font-size: 15px !important;
      line-height: 33px !important;
    }
  }
  .closeIcon {
    right: 10px !important;
  }
}

@media (max-width: 329px) {
  .searchBar {
    &::placeholder {
      font-size: 14px !important;
      line-height: 35px !important;
    }
  }
}
