.SearchResults {
  flex: 1;
  padding-top: 49px;
  padding-left: 47px;
  padding-right: 202px;
  .noResults {
    font-size: 16px;
    line-height: 19px;
    color: #1e1c1c;
  }
  .header {
    margin-bottom: 9px;
    font-size: 12px;
    line-height: 14px;
    color: #7a7c7f;
    button {
      display: none;
    }
    span {
      &.openAllCards {
        margin-left: 21px;
        cursor: pointer;
      }
      i {
        display: inline-block;
        width: 5px;
        height: 5px;
        margin-right: 5px;
        font-size: 0;
        background-color: #7a7c7f;
        border-radius: 50%;
      }
    }
  }
  .displayMore {
    display: flex;
    justify-content: center;
    margin-top: 54px;
    margin-bottom: 44px;
    button {
      width: 380px;
      height: 37px;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.333333px;
      color: #14a2b8;
      background-color: transparent;
      border: 1px solid #0f7c91;
      box-sizing: border-box;
      border-radius: 18.5px;
      cursor: pointer;
    }
  }
}

@media (max-width: 1200px) {
  .SearchResults {
    width: 100%;
    box-sizing: border-box;
    padding-top: 54px;
    padding-left: 100px;
    padding-right: 100px;
    .noResults {
      position: relative;

      font-weight: bold;
    }
    .header {
      background-color: white;
      top: 0;
      height: 94px;
      position: fixed;
      z-index: 1;
      width: calc(100% - 68px);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      span {
        margin-right: 0 !important;
        &:first-child {
        }
        &.openAllCards {
          display: none;
        }
      }
      button {
        display: flex;
        align-items: center;
        width: 79px;
        height: 30px;
        padding-left: 12px;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.4px;
        color: #ffffff;
        background-color: #14a2b8;
        border: 0.8px solid #14a2b8;
        box-sizing: border-box;
        border-radius: 2px;
        outline: none;
        i {
          display: block;
          width: 18px;
          height: 12px;
          margin-right: 10px;
          font-size: 0;
          background-image: url(../../public/images/linesIcon.svg);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
    .displayMore {
      button {
      }
    }
  }
}

@media (max-width: 748px) {
  .SearchResults {
    padding-left: 34px;
    padding-right: 34px;
    .noResults {
    }
    .header {
      span {
        margin-right: 0 !important;
        &:first-child {
        }
        &.openAllCards {
        }
        i {
        }
      }
    }
    .displayMore {
      button {
      }
    }
  }
}

@media (max-width: 329px) {
  .SearchResults {
    .header {
      height: 100px;
    }
  }
}
