.PrivacyPage {
  display: flex;
  min-height: calc(100vh - 120px);
  padding-top: 120px;
  padding-right: 202px;
  font-family: Helvetica, sans-serif;

  .sideBar {
    min-width: 302px;
    max-width: 302px;
    padding-top: 36px;
    padding-left: 26px;
    font-size: 14px;
    h2 {
      margin: 0;
      margin-bottom: 40px;
      font-size: 24px;
    }
    ul {
      padding: 0;
      list-style: none;
      li {
        margin-bottom: 25px;
        &.active,
        &:hover {
          color: rgb(26, 106, 255);
        }
      }
    }
  }
  .content {
    padding-top: 36px;
    padding-left: 47px;
    font-size: 16px;
    h2 {
      font-size: 24px;
      &:first-child {
        margin-top: 0;
      }
    }

    p {
      margin: 0;
      margin-bottom: 12px;
    }

    .updatedAt {
      display: flex;
      margin-top: 25px;
      margin-bottom: 35px;
      font-size: 13px;
      color: #59595f;
    }
  }
}

@media (max-width: 1200px) {
  .PrivacyPage {
    padding-right: 0;

    .sideBar {
      position: absolute;
    }

    .content {
      padding-top: 250px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
}
