.Footer {
  display: flex;
  align-items: center;
  width: 100%;
  height: 115px;
  background-color: #fafafa;
  padding-left: 65px;
  padding-right: 65px;

  .logo {
    margin-right: 56px;
    .imageContainer {
      margin-bottom: 14px;
    }
    span {
      font-size: 15px;
      line-height: 18px;
      color: #6e6f70;
      white-space: nowrap;
    }
  }
  .links {
    a {
      margin-right: 25px;
      font-size: 15px;
      line-height: 18px;
      color: #6e6f70;
    }
  }
}
