.SearchResult {
  position: relative;
  display: flex;
  //min-width: 924px;
  box-sizing: border-box;
  //min-height: 97px;
  margin-bottom: 21px;
  padding-right: 89px;
  border: 1px solid rgba(193, 80, 80, 0.2);
  box-sizing: border-box;
  box-shadow: inset 0 2px 12px rgba(193, 80, 80, 0.06);
  border-radius: 4px;
  overflow: hidden;
  transition: height ease-in-out 0.2s;
  &:hover {
    .expandCard {
      display: block !important;
    }
  }
  .header {
    .mobileTitle {
      display: none;
    }
  }
  .logo {
    width: 75px;
    min-width: 75px;
    height: 61px;
    min-height: 61px;
    margin-left: 26px;
    margin-top: 21px;
    margin-bottom: 15px;
    margin-right: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    //background-position: center;
  }
  .companyInfo {
    width: 100%;
    h1 {
      margin-top: 14px;
      margin-bottom: 6px;
      font-size: 20px;
      line-height: 23px;
      letter-spacing: 1.11111px;
      color: #090909;
    }
    .industry {
      display: block;
      margin-bottom: 9px !important;
      font-size: 12px;
      line-height: 14px;
      color: #999494;
    }
    .tags {
      padding-bottom: 12px;
      text-transform: capitalize;
      .tag {
        display: inline-block;
        margin-right: 7px;
        padding-left: 6px;
        padding-right: 6px;
        font-size: 12px;
        line-height: 14px;
        color: #262a2b !important;
        font-weight: bold;
        background: #fbf9f9;
        border-radius: 16px;
        cursor: pointer;
        &.active {
          background-color: #d6edf1;
        }
      }
    }
  }
  .expandCard {
    display: none !important;
    position: absolute;
    top: 44px;
    right: 92px;
    display: block;
    width: 17px;
    height: 17px;
    align-self: center;
    margin-left: auto;
    font-size: 0;
    background-image: url(../../../public/images/wideArrowDown.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    &.rotate {
      transform: rotate(180deg);
    }
  }
  .details {
    .mainDetails {
      display: flex;
      flex-wrap: wrap;
      .infoBlock {
        //padding-right: 67px;
        margin-bottom: 23px;
        display: flex;
        //justify-content: space-between;
        width: 49%;
        &:nth-child(2n) {
          //padding-right: 0;
          //padding-left: 67px;
          margin-left: auto;
        }
        .title {
          width: 50%;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.221429px;
          font-weight: bold;
          color: #090909;
        }
        .content {
          width: 50%;
          position: relative;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.3px;
          color: #090909;
          text-align: left;
          padding-left: 5px;
          a {
            color: #0e62c2;
          }
        }
      }
    }
    .divider {
      width: 100%;
      height: 1px;
      margin-bottom: 28px;
      background-color: #f3dede;
    }
    .additionalDetails {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 33px;
      .infoBlock {
        display: flex;
        //justify-content: space-between;
        align-items: center;
        width: 49%;
        //padding-right: 67px;
        &.subsidiaries {
          margin-top: 29px;
          .content {
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.2px;
            color: #73c9cb;
            cursor: pointer;
          }
        }
        &:nth-child(3) {
          //padding-right: 0;
          //padding-left: 67px;
          margin-left: auto;
        }
        .title {
          width: 50%;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.221429px;
          font-weight: bold;
          color: #090909;
        }
        .content {
          width: 50%;
          padding-left: 5px;
          font-size: 15px;
          line-height: 18px;
          letter-spacing: 0.3px;
          color: #090909;
        }
      }
      .keyPeople {
        width: 100%;
        display: flex;
        //justify-content: space-between;
        margin-bottom: 38px;
        .title {
          min-width: 25%;
          max-width: 25%;
          font-size: 15px;
          font-weight: bold;
          line-height: 18px;
          letter-spacing: 0.3px;
          color: #090909;
        }
        .content {
          position: static;
          //min-width: 75%;
          /* min-width: calc(50% + 67px + var(--keyPeopleOffset));
          margin-left: -67px; */
        }
      }
    }
  }
  .showMore {
    display: none;
  }
}

.feedbackContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -13px;
  margin-bottom: 25px;
  font-size: 12px;
  line-height: 14px;
  color: #81868b;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .SearchResult {
    flex-direction: column;
    min-height: unset;
    height: 55px;
    padding-left: 14px;
    padding-right: 14px;

    &:hover {
      .expandCard {
        display: none !important;
      }
    }

    .header {
      display: flex;
      overflow: hidden;
      text-overflow: ellipsis;
      min-height: 55px;
      .mobileTitle {
        display: block;
      }
      .logo {
        align-self: center;
        width: 50px;
        height: 41px;
        min-width: 50px;
        min-height: 41px;
        margin: 0;
        //margin-top: 6px;
        background-position: center;
      }
      h1 {
        margin: 0;
        margin-top: 15px;
        margin-left: 45px;
        font-size: 18px;
        line-height: 21px;
        letter-spacing: 0.4px;
        white-space: nowrap;
      }
    }

    .companyInfo {
      padding-left: 7px;
      text-overflow: ellipsis;
      overflow: hidden;
      h1 {
        display: none;
      }
      .industry {
        display: none;
      }
    }
    .expandCard {
      display: none;
    }
    .details {
      .mainDetails {
        .infoBlock {
          justify-content: unset;
          width: 100%;
          margin-bottom: 13px;
          padding: 0 !important;

          .title {
            min-width: 50%;
          }
          .content {
            min-width: 50%;
            a {
            }
          }
        }
      }
      .divider {
        margin-top: 15px;
        margin-bottom: 30px;
      }
      .additionalDetails {
        //display: none;
        margin-bottom: 0;
        .infoBlock {
          width: 100%;
          margin-bottom: 18px;
          padding: 0 !important;

          &.subsidiaries {
            margin-top: 0;
          }

          .title {
            min-width: 50%;
          }
          .content {
            min-width: 50%;
          }
        }
        .keyPeople {
          width: 100%;
          .title {
            min-width: 50%;
          }
          .content {
            margin-left: 0;
            min-width: 50%;
          }
        }
      }
    }
  }
  .showMore {
    display: flex !important;
    justify-content: center;
    margin-bottom: 8px;
    span {
      display: flex;
      align-items: center;
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 0.142857px;
      color: #c1abab;
    }
    i {
      display: block;
      width: 16px;
      height: 6px;
      margin-right: 10px;
      font-size: 0;
      background-image: url(../../../public/images/wideArrowDown.svg);
      background-size: contain;
      &.rotate {
        transform: rotate(180deg);
      }
    }
  }
}
