.Wrapper {
  color: #181719;
  .title {
    font-size: 25px;
    line-height: 29px;
    color: #181719;
  }
  .subTitle {
    font-size: 18px;
    line-height: 21px;
    margin-top: 17px;
  }
  .textarea {
    margin-top: 37px;
    border: 1px solid #e5e2e2;
    box-sizing: border-box;
    border-radius: 13px;
    outline: none;
    width: 458px;
    height: 261px;
    resize: none;
    padding: 14px 10px;
  }
  .description {
    font-size: 12px;
    line-height: 14px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 21px;
    .btn {
      cursor: pointer;
      font-size: 18px;
      line-height: 21px;
    }
    .btn + .btn {
      margin-left: 18px;
    }
    .btnCancel {
      color: #181719;
      background-color: transparent;
      border: none;
    }

    .btnSend {
      background: #d8d8d8;
      mix-blend-mode: normal;
      opacity: 0.56;
      border: 1px solid #e5e2e2;
      box-sizing: border-box;
      border-radius: 13px;
    }
  }
}
@media (max-width: 748px) {
  .Wrapper {
    .subTitle {
      margin-bottom: 17px;
    }
    .textarea {
      width: 100%;
      height: 180px;
      margin-top: 0;
      &::placeholder {
        font-size: 14px;
        line-height: 16px;
        color: #5f5d60;
      }
    }

    .buttons {
      margin-top: 81px;
      .btn {
        padding-left: 7px;
        padding-right: 7px;
        font-size: 18px;
        line-height: 21px;
        color: #181719;
        &:last-child {
          margin-left: 9px;
        }
      }
    }
  }
}

@media (max-width: 329px) {
  .Wrapper {
    .title {
      font-size: 24px;
      line-height: 28px;
    }
    .subTitle {
      font-size: 17px;
      line-height: 20px;
    }
    .textarea {
      height: 148px;
    }
    .buttons {
      margin-top: 47px;
    }
  }
}
